@font-face {
    font-family: "FonteCustom";
    src: url('fonts/ReemKufi-Regular.ttf') format('truetype');

    
}
  body {
    font-family: 'FonteCustom', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
  
}



.focar:focus
{
    color: red;
    background-color: rgba(252, 238, 118, 0.479);
}

.borda
{
    height:45px;
    width:250px;
    border: solid 0.25px rgb(146, 146, 146);
}


.inverterCor:hover
{
  filter: invert(100%);
}